<!doctype html>
<html>
	<head>
		<title>PixelChess</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
		<link href="stylesheets/splash.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
		<link rel="icon" href="images/logo.png">
	</head>
	
	<body>
		<header>
			<img src="images/logo.png" alt="Logo">
			<h1>PixelChess</h1>
		</header>
	
		<main>
			<div id="splash-body">
				<div class="column">
					<h2>Two player multiplayer Chess game</h2>

					<div id="play-button">

						<form action="/play" method="get">
							<button>PLAY</button>
						</form>
					</div>
				</div>
				
				<div class="column">
					<p>Ongoing games: 5</p>
					<p>Games completed: 100</p>
					<p>Active gamers: 
						<%= activeGamers %>
					</p>
					<p>Number of visits: 999</p>
				</div>
			</div>
		</main>
	</body>
</html>

