/*body {
  -webkit-animation: colorchange 1ms;
  animation-iteration-count: infinite;
}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}
*/
body{
  background-color: #7a513c;
}
#chess-board
{
/*  padding-left: 50px; /* Offset from left */
  float: left;
  display: table;
  text-align: center; /* For aligning cell letters & numbers */
  border: 25px ridge #ab773d;
  margin-left: 20%;
  margin-top: 5%;
}

/* Chess Tiles */
.chess-tile
{
  float: left;
  height: 60px;
  width: 60px;
  border: 1px solid; /* some style to the board */
  cursor: pointer;
}
.chess-tile:nth-child(2n+1)
{
  background: #408728;
}

.chess-tile:nth-child(2n)
{
  background: #965a3e;
}

.chess-tile[data-state="valid"]
{
  box-shadow: inset 0 0 30px #61e137;
}

.chess-tile[data-state="selected"]
{
  box-shadow: inset 0 0 30px #61e137;
}

.chess-tile:nth-child(2n+1)[data-state="valid"]:hover
{
  background: #285419;
}

.chess-tile:nth-child(2n)[data-state="valid"]:hover
{
  background: #71412a;
}

.chess-tile img
{
  height: 50px;
  width: 50px;
  padding: 5px; /* Center image in tile */
}
/* Table Entries */
#UserStats
{
}
#UserMoves{
  border-radius: 25px;
  text-align: center;
  border: 15px #ab773d ridge;
  width: 300px;
  height: 450px;
}
#UserStats{
  margin-left: 10%;
  text-align: center;
  float:left;
  margin-top:5%;  
}
.Users{
  height:100%;
  font-size: 30px;
  width: 150px;
  float:left;
}
#User1{
  background: rgb(100, 40, 0);
}
#User2{
  background: darkgreen;
}
#row{
  height:10%;
  width:100%;
}
#row2{
  overflow: auto;
  height:90%;
  float:none;
  width: 100%;
  text-align: center;
}
.Columns{
  height: 100%;
  text-align: center;
  float: left;
  width:50%;
}
#Column1{
  height: 100%;
  background: #965a3e;
}
#Column2{
  height:100%;
  background: #408728;
}
.table-entry img
{
  height: 25px;
  width: 25px;
}

.table-entry p
{ 
  display: inline;
  font-size: 24px;
  margin-left: 10px; /* shift left from left image */
  margin-right: 10px; /* shift right from right image */

}