/*body {
  -webkit-animation: colorchange 1ms;
  animation-iteration-count: infinite;
}

@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}
*/
body{
  background-color: #7a513c;
}
#chess-board
{
/*  padding-left: 50px; /* Offset from left */
  float: left;
  display: table;
  text-align: center; /* For aligning cell letters & numbers */
  border: 25px ridge #ab773d;
  margin-left: 20%;
  margin-top: 5%;
}

/* Chess Tile Styling */
.chess-tile
{
  float: left;
  height: 60px;
  width: 60px;
  border: 1px solid black; /* some style to the board */
  cursor: pointer;
}

.chess-tile img
{
  height: 50px;
  width: 50px;
  padding: 5px; /* Center image in tile */
}

.chess-tile:nth-child(2n+1)
{
  background: #408728;
}

.chess-tile:nth-child(2n+1)[data-state="valid"]:hover
{
  background: #285419;
}

.chess-tile:nth-child(2n)
{
  background: #965a3e;
}

.chess-tile:nth-child(2n)[data-state="valid"]:hover
{
  background: #71412a;
}

/* Chess tile state styling:
   * Valid - valid movement tiles
   * Selected - selected piece tile 
   * Invalid - invalid tile (blink animation only) */
.chess-tile[data-state="valid"]
{
  box-shadow: inset 0 0 30px #61e137;
}

.chess-tile[data-state="selected"]
{
  box-shadow: inset 0 0 30px #61e137;
}

.chess-tile[data-state="invalid"]
{
  animation: blinkRed 0.5s ease-in 1;
}

/* Keyframes for invalid move displaying */
@keyframes blinkRed
{
  0%
  {
    box-shadow: inset 0 0 1px #ff3636;
  }

  50%
  {
    box-shadow: inset 0 0 30px #e13737;
  }

  100%
  {
    box-shadow: none;
  }

}

/* Status table */
#Status
{
  height: 50px;
  width: 50px;
  padding: 5px; /* Center image in tile */
}
/* Table Entries */
#UserMoves{
  border-radius: 25px;
  text-align: center;
  border: 15px #ab773d ridge;
  width: 300px;
  height: 460px;
}
#UserStats{
  margin-left: 10%;
  text-align: center;
  float:left;
  margin-top:3%;  
}
.Users{
  height:100%;
  font-size: 30px;
  width: 150px;
  float:left;
}
#User1{
  background: rgb(100, 40, 0);
}
#User2{
  background: darkgreen;
}
#row{
  height:8%;
  width:100%;
}
#row2{
  overflow: auto;
  height:92%;
  float:none;
  width: 100%;
  text-align: center;
}
.Columns{
  height: auto;
  min-height: 100%;
  position: sticky;
  top: 0;
  bottom: 0;
  text-align: center;
  float: left;
  width:50%;
}
#Column1{
  background: #965a3e;
}
#Column2{
  background: #408728;
}

/* Table entries */
.table-entry img
{
  height: 25px;
  width: 25px;
  padding-top: 2px;
}

.table-entry p
{ 
  display: inline;
  font-size: 24px;
  margin-left: 10px; /* shift left from left image */
  margin-right: 10px; /* shift right from right image */
}

#Column1 .table-entry:nth-child(2n)
{
  background: #a96546;
}

#Column2 .table-entry:nth-child(2n)
{
  background: #47962d;
}

/* Fullscreen Button positioning */
#fullscreen-button
{
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 200%;
}