/* Fill page with content */
html
{
    height: 100%;
}

/* Reset padding & margin, fill page */
body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* Header (20% page height) */
header
{
   width: 100%;
   height: 20%;
   background-color: #459a29;
   text-shadow: 5px 5px 1px black;
   box-shadow: inset 0px -1px 1px black;
}

header h1
{
    cursor: default;
    float: left;
    color: snow;
    font-size: 8.25vh;
    height: auto;
    padding-left: 10px;
    transition: color 0.5s ease;
}

header h1:hover
{
    color: #60da37;
    transition: color 0.5s ease;
}

header img
{
    float: left;
    width: auto;
    height: 80%;
    padding-top: 1%;
    padding-left: 1%;
}

/* Main & body (80% page height) */
main
{
    height: 80%;
}

#splash-body
{
    height: 100%;
}

/* Column */
.column
{
    float: left;
}

.column p
{
    font-size: 175%;
    background-color: #53a03a;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: solid 5px;
    border: 5px outset #45952b;
    text-shadow: 1px 1px 2px black;
}

.column h2
{
    text-shadow: 1px 1px 2px black;
    font-size: 250%;
    text-align: center;
}

.column:nth-child(1)
{
    width: 75%;
    height: 100%;
    background-color: #ae6f51;
}

.column:nth-child(2)
{
    width: 25%;
    height: 100%;
    background-color: #9b5535;
    box-shadow: inset 1px 0px 1px black;
}

/* Play Button */
#play-button
{
    text-align: center;
    position: absolute;
    bottom: 5%;
    width: 75%;
}

/* Play Button Images */
#play-button form::before
{
    content: url("splash-img/left.png");

    /* center image vertically */
    display: inline-block;
    vertical-align: bottom;
}

#play-button form::after
{
    content: url("splash-img/right.png");
    display: inline-block;
    vertical-align: bottom;
    transform: scaleX(-1); /* flip image */
}

#play-button button
{
    font-size: 500%;
    text-shadow: 1px 1px 2px black;
    border: 8px outset #53a03a;
}