/* Font setup */
html
{
  font-family: 'VT323', sans-serif;
  font-size: 16px;
}

body
{
  color: white;
}

/* Button styling */
button
{
  font-family: 'VT323', sans-serif;
  background-color: #6ec660;
  color: white;
}

button:hover
{
    background-color: #488e3e;
    color: #a5a367;
}


button:active
{
    background-color:  #1b6913;
    color: #585633;
}

/* Resolution warning setup */
#screen-warning
{
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 250%;
  color: #d13131;
}


@media screen and (max-width: 600px), screen and (max-height: 500px)
{
  #screen-warning
  {
    visibility: visible;
  }
}